header {
  background-color: blueviolet;
  color: black;
}
body {
  background-color: #ff99e6;
  color: rgb(35, 35, 227);
}
section {
  color: rgb(227, 118, 35);
}
#about {
  background-color: rgba(242, 172, 102, 0.938);
}
#about img {
  max-width: 30%;
}
#selectors dl {
  border-width: 2px 4px 6px 8px;
  border-color: red green blue yellow;
  border-style: solid;
}
#fonts,
#units {
  background-color: rgba(17, 132, 53, 0.938);
  border-radius: 1em;
}
/* #properties { */
/* background-color: rgba(102, 116, 242, 0.938); */
/* } */
#boxmodel {
  background-color: rgba(190, 21, 92, 0.938);
  border: red 8px solid;
}
/* #selectors { */
/* background-color: rgba(209, 2, 2, 0.938); */
/* } */
.codebox {
  background-color: teal;
}
h1 {
  color: rgb(35, 35, 227);
  margin: 80px 40px 65px 79px;
}
h2 {
  color: rgb(86, 5, 5);
}
nav > ul {
  background-color: skyblue;
  list-style-type: none;
  margin-block-start: 8px;
  margin-block-end: 44px;
  margin-inline-start: 0px;
  margin-inline-end: 25px;

  padding: 40px;
}
.red {
  color: red;
  margin: 10px;
}
